.card{
  border-radius: $border-radius-extreme;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  background-color: #FFFFFF;
  color: $card-black-color;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;

  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;

  &.flat{
    border-radius: 2px;
  }

  .card-body{
    padding: 15px 15px 10px 15px;

    &.table-full-width{
      padding-left: 0;
      padding-right: 0;
    }
  }

  .card-header{
    &:not([data-background-color]){
      background-color: transparent;
    }
    padding: 15px 15px 0;
    border: 0;

    .card-title{
      margin-top: 10px;
    }
  }

  .map{
    border-radius: $border-radius-small;

    &.map-big{
      height: 400px;
    }
  }

  &[data-background-color="orange"]{
    background-color: $primary-color;

    .card-header{
      background-color: $primary-color;
    }

    .card-footer{
      .stats{
        color: $white-color;
      }
    }
  }

  &[data-background-color="red"]{
    background-color: $danger-color;
  }

  &[data-background-color="yellow"]{
    background-color: $warning-color;
  }

  &[data-background-color="blue"]{
    background-color: $info-color;
  }

  &[data-background-color="green"]{
    background-color: $success-color;
  }

  .image{
    overflow: hidden;
    height: 200px;
    position: relative;
  }

  .avatar{
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  .numbers {
    font-size: 2em;
  }

  .big-title {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 15px;
  }

  label{
    font-size: $font-size-small;
    margin-bottom: 5px;
    color: $dark-gray;
  }

  .card-footer{
    background-color: transparent;
    border: 0;


    .stats{
      i{
        margin-right: 5px;
        position: relative;
        top: 0px;
        color: $default-color;
      }
    }

    .btn{
      margin: 0;
    }
  }

  &.card-plain{
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;


    .card-body{
      padding-left: 5px;
      padding-right: 5px;
    }

    img{
      border-radius: $border-radius-extreme;
    }
  }
}

.icon-fee{
  position:relative;

  &:after{
    content: "%";
    position: absolute;
    top: 8px;
    color: #8d8d8d;
    font-weight: 500;
    font-size: 16px;
    right: 10px;
  }

}

.ceevo__card-group{
  span.required-field-sympol{
    font-size: 24px;
    margin-top: 8px;
    font-weight: 500;
  }
  .control-label{
    font-weight: 600;
    min-height: 44px;
  }
  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="tel"],
  input.form-control,
  textarea{
    border-radius: 10px;
    border:1px solid #8D8D8D;
    padding:7px 18px;
    width:100%;
    font-weight:500;

    &::-webkit-input-placeholder{
      text-transform: capitalize;
      color:#8D8D8D;
    }

    &:disabled,
    &.disabled{
      background:#2929290D;
      cursor: not-allowed;
    }
  }
  textarea{
    outline: none;
    min-height: 200px;
    max-height: 500px;
    min-width: 100%;
    max-width: 100%;
  }
  hr{
    border-style: dashed;
    border-color: #7039DA;
  }
  .el-input{
    border:0;
    padding:0;
  }
  @media (max-width:576px) {
    .w-sm-100{
      width:100% !important;
    }
  }
}
.required-field-sympol {
	color: #5823bd !important;
	font-weight: 500;
}

.card-header{
  padding:0 0 1rem 0;
}

.card-header h4,
h4.card-title{
  margin-top:1rem;
  font-weight: 700;
  font-size: 28px;
}
.card-info{
  font-weight: 500;
}
